*{
    background-color: hwb(0 30% 53%);
}

h1{
    font-family:'Courier New', Courier, monospace;
    font-size:50px;
    color:blanchedalmond;
    text-align: center;
}

li{
    color:bisque
}

a{
    color:aqua
}